header{
    background-image: url(anhhhh.png);
    padding-bottom: 10%;
    background-size: 100% 100%;

}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    font-family: lato;
    color: black;
    width: 1090px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 5px rgb(30, 30, 30);
    border-radius: 3px;
}
/*hết header và thẻ chung html*/
/*bat dau css nav*/
.wrapper {
    
    box-shadow:0px 1px 3px rgba(0,0,0,0.2); 
    background:blue;
}
.menu {
    width:1000px;
    margin:0px auto;
    background:blue;
    height: 50px;
    
}
.menu li {
    margin:0px;
    list-style:15px;
}
.menu a {
    transition:all linear 0.15s;
    color: blue;
    text-decoration:none;
}
.menu li:hover > a, .menu .current-item > a {
    text-decoration:none;
    margin-bottom: 15px;
    color:rgb(red, green, blue);
    background: yellow;
} 
.menu .arrow {
    font-size:11px;
    line-height:0%;
} 
.menu > ul > li {
    float: left;
    display:block;
    position:relative;
    font-size:17px;
}
.menu > ul > li > a {
    padding:10px 20px;
    display:inline-block;
    color:white;
}
.menu li:hover .submenu {
    font: 100px;
    z-index:1;
    opacity:1;
}
.submenu {
    width:160%;
    padding:5px 0px;
    position:absolute;
    top:85%;
    left: -50px;
    z-index: index 0;;
    opacity:0;
    transition:opacity linear 0.15s;
    background-color: aquamarine;
}
.submenu li {
    display:block;
    font-size: 20px;
}
.submenu li a {
    padding:10px 30px;
    display:block;
}
nav{
    height: 40px;
    background: blue;
    margin-bottom: 5px;
}
nav .tkiem{
    float: right;
    line-height: 40px;

}
nav .tkiem input{
    border-radius: 5px 0px 0px 5px;
    border: none;
    outline: none;
    margin: 0px;
    padding: 7px 10px;
    width: 250px;
}
nav .tkiem button{
    padding: 7px 10px;
    border: none;
    outline: none;
    background: blue;
    color: #fff;
    margin-left: -5px;
}
/*ket thuc css nav*/
.chaychu{
    position: relative;
    margin-bottom: 5px;
    background-color: aqua;
}
.text{
    background-color:aqua;
    text-shadow: 2px 2px 5px black;
}
aside{
    float: left;
    width: 300px;
    border-left: 1px solid gray;
}
h3{
    font-size: 18px;
    padding: 10px 15px;
    background: blue;
    color: #fff;
    text-shadow: 2px 2px 5px yellow;
}
.traidoc ul {
    list-style: none;

}
.traidoc ul li{
    padding: 10px 15px;
    background-color:aqua;
    border-top: 1px solid gray;
}
.traidoc ul li:hover{
    background: yellow;
    color: blueviolet;
}

.main {
    flex: 4;
    margin-left: 5px;
}

.main .content {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.main .content .top{
    display: flex;
}



.main .content  h2{
    padding-left: 10px;
    color: aqua;
}

.main .content .top a{
    text-decoration: none;
}

.main .content .bottom{
    color: rgb(66, 64, 64);
    margin: 10px ;
    padding-top: 10px;
}
/* footer*/
footer{
    width: 100%;
    clear: both;
    background: blue;
    color: whitesmoke;
}
.ft1{
    float: left;
    width: 400px;
    margin-bottom: 25px;

}
footer h3{
    padding: 15px;
    font-size: 20px;


}
.ft2{
    width: 100%;
    
    clear: both;
    height: 40px;
    background: aquamarine;

}
.ft2 p{
    color: black;
    font-size: 15px;
    font-variant: small-caps;
    text-align: center;
}
